<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Crear Periodo</h4>
                        <p class="card-category">Complete la Informacion</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formPeriodo" (ngSubmit)="sendPeriodo(formPeriodo.value)">
                            <div class="row">

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Nombre del periodo</mat-label>
                                        <input formControlName="per_nombre" matInput placeholder="Nombre">
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <mat-label>Seleccione el semestre</mat-label>
                                      <select matNativeControl required stype="number" formControlName="per_semestre">
                                        <option value="" selected></option>
                                        <option>1</option>  
                                        <option>2</option>                      
                                      </select>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-label>Selecciona un rango de fechas</mat-label>
                                        <mat-date-range-input [formGroup]="fechas" [rangePicker]="picker">
                                            <input matStartDate formControlName="per_fecha_inicio" placeholder="Fecha Inicial">
                                            <input matEndDate formControlName="per_fecha_fin" placeholder="Fecha Final">
                                        </mat-date-range-input>
                                        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>

                                        <mat-error *ngIf="fechas.controls.per_fecha_inicio.hasError('matStartDateInvalid')"> Fecha inicial invalida</mat-error>
                                        <mat-error *ngIf="fechas.controls.per_fecha_fin.hasError('matEndDateInvalid')"> Fecha final invalida</mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Año del periodo</mat-label>
                                        <input formControlName="per_anio" matInput placeholder="Año">
                                    </mat-form-field>
                                </div>
                                
                                
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-danger pull-right">
                                    Crear Periodo
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>