

    <div class="main-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-danger">
                <h4 class="card-title">Lista Autoevaluacion</h4>
                <p class="card-category">Informacion</p>
              </div>
              <div class="card-body">
                <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right" routerLink="/crear">Crear Labor</button> -->
                <button
                  mat-raised-button
                  class="btn btn-danger pull-right"
                  routerLink="/autoevaluacion"
                >
                  Crear Autoevaluacion
                </button>

                <div class="table-responsive">
                  <table class="table">
                    <thead class="text-primary">
                      <th>nombre labor</th>
                      <th>Descripcion</th>
                      <th>Horas</th>
                      <th>Fecha Inicio</th>
                      <th>Fecha Fin</th>
                      <th>Estado</th>
                      <th>resultado</th>
                      <th>puntaje</th>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor="
                          let autoevaluacion of lautoevaluacion;
                          let i = index
                        "
                      >
                        <td>
                          {{ autoevaluacion.lab_nombre }}
                        </td>
                        <td>
                          {{ autoevaluacion.tl_descripcion }}
                        </td>
                        <td>
                          {{ autoevaluacion.lab_horas }}
                        </td>
                        <td>
                          {{ autoevaluacion.per_fecha_inicio }}
                        </td>
                        <td>
                          {{ autoevaluacion.per_fecha_fin }}
                        </td>
                        <td>
                          {{ autoevaluacion.eva_estado }}
                        </td>
                        <td>
                          {{ autoevaluacion.eva_resultado }}
                        </td>
                        <td>
                          {{ autoevaluacion.eva_puntaje }}
                        </td>
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 