<div *ngIf="docente">
    <h2>Actualizar Docente</h2>
    <form (ngSubmit)="actualizarDocente()">
      <label for="lab_nombre">Nombre del laboratorio:</label>
      <input type="text" id="lab_nombre" name="lab_nombre" [(ngModel)]="docente.lab_nombre" required><br><br>
  
      <label for="lab_horas">Horas:</label>
      <input type="number" id="lab_horas" name="lab_horas" [(ngModel)]="docente.lab_horas" required><br><br>
  
      <label for="tl_descripcion">Descripción:</label>
      <textarea id="tl_descripcion" name="tl_descripcion" [(ngModel)]="docente.tl_descripcion" required></textarea><br><br>
  
      <!-- Resto de campos del formulario... -->
  
      <button type="submit">Actualizar</button>
    </form>
  </div>