<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <a class="mt-4 ml-4 text-white" href="javascript:void(0)" (click)="goBack()">
              <i class="material-icons">arrow_back</i>
            </a>
        </div>
        <div class="navbar-wrapper">
          <a class="navbar-brand" style="color: white;" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            
            <ul class="navbar-nav">
                <button style="color: white;" mat-icon-button [matMenuTriggerFor]="notificacion" aria-label="Example icon-button with a menu">
                    <mat-icon>notifications</mat-icon>
                    <span *ngIf="cant_notis!=0" class="notification">
                        {{cant_notis}}
                    </span>
                </button>
                <mat-menu #notificacion="matMenu">
                    <div *ngFor="let notificacion of notificaciones">
                        <button mat-menu-item>{{ notificacion.mensaje }}</button>
                    </div>
                    <div *ngIf="cant_notis==0">
                        <label>No tienes notificaciones</label>
                    </div>
                </mat-menu>
                <!---- Notificaciones-->
                
                <!-----Menu ---->
                <button style="color: white;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>person</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item routerLink="/user-profile">
                        <mat-icon>account_circle</mat-icon>
                        <span>Perfil</span>
                    </button>
                    <button mat-menu-item (click)="onLogout()">
                        <mat-icon>input</mat-icon>
                        <span>Cerrar Sesion</span>
                    </button>
                </mat-menu>
            </ul>
        </div>
    </div>
</nav>