<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger"
                        style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            <h4 class="card-title ">Lista Labores</h4>
                            <p class="card-category"> Informacion</p>
                        </div>
                        <button class="btn btn-custom pull-right" routerLink="/crear" title="Crear labor">
                            <mat-icon>add</mat-icon></button>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Horas</th>
                                    <th class="left">Acciones</th>
                                  </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let docente of docentes;">
                                        <td>
                                            {{ docente.lab_nombre }}
                                        </td>
                                        <td>
                                            {{ docente.tl_descripcion }}
                                        </td>
                                        <td>
                                            {{ docente.lab_horas }}
                                        </td>

                                        <td class="left">
                                            <button (click)="deleteLdocente(docente.lab_nombre)"
                                                class="btn btn-danger pull-right"><mat-icon>delete</mat-icon></button>
                                            <button (click)="updateLdocente(docente.lab_nombre)"
                                                class="btn btn-warning pull-right"><mat-icon>edit</mat-icon></button>
                                            <!-- <button mat-raised-button  class="btn btn-danger pull-right" [routerLink]="['/actualizar,docente.lab_nombre']">editar</button> -->

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Button trigger modal -->