<div class="main-content">
  <div class="container-fluid">
 <!-- Button trigger modal -->

  <!-- Modal -->


    <div class="main-content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <div class="card-header card-header-danger">
                          <h4 class="card-title ">Lista Labores</h4>
                          <p class="card-category"> Informacion</p>
                          
                      </div>
                      <div class="card-body">
                          <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right" routerLink="/crear">Crear Labor</button> -->
                          <button mat-raised-button  class="btn btn-danger pull-right" routerLink="/crear">Crear Labor</button>
                          
                          <div class="table-responsive">
                              <table class="table">
                                  <thead class=" text-primary">
                                      <th>
                                        Nombre labor
                                      </th>
                                      <th>
                                          descripcion
                                      </th>
                                      <th>
                                          Horas
                                      </th>
                                      
                                  </thead>
                                  <tbody> 
                                    
                                    <tr *ngFor="let docente of docentes;">
                                        <td>
                                            {{ docente.lab_nombre }}
                                          </td>
                                          <td>
                                            {{ docente.tl_descripcion }}
                                          </td>
                                          <td>
                                            {{ docente.lab_horas }}
                                          </td>
                                          
                                          <td>
                                           
                                              <button mat-raised-button (click)="deleteLdocente(docente.lab_nombre)" class="btn btn-danger pull-right">Eliminar</button>
                                              <button mat-raised-button [routerLink]="['/actualizar/', docente.lab_nombre]" class="btn btn-danger pull-right">Actualizar</button>
                                             <!-- <button mat-raised-button  class="btn btn-danger pull-right" [routerLink]="['/actualizar,docente.lab_nombre']">editar</button> -->
                                              
                                          </td>
                                          
                                      </tr>
                                      

                                    
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Button trigger modal -->

  