<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Crear Labor Docente</h4>
            <p class="card-category">Ingrese los datos</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>Nombre Labor</mat-label>
                    <select
                      matNativeControl
                      required
                      name="nombre"
                      [(ngModel)]="newDocente.lab_nombre">
                      <option value="Tesis">Tesis</option>
                      <option value="Maestría">MaestrIa</option>
                      <option value="Trabajo de Grado">Trabajo</option>
                    </select>
                  </mat-form-field>
                </div>
                <!-- <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Descripcion</mat-label>
                    <textarea
                      matInput
                      name="codigo"
                      [(ngModel)]="newDocente.tl_descripcion"
                    ></textarea>
                  </mat-form-field>
                </div> -->
                <!-- <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <mat-label>codigo</mat-label>
                    <textarea
                      matInput
                      name="codigo"
                      [(ngModel)]="newDocente.tl_codigo"
                    ></textarea>
                  </mat-form-field>
                </div> -->
                <div class="col-md-6">
                  <mat-form-field>
                    <mat-label>tl_id</mat-label>
                    <select
                      matNativeControl
                      required
                      name="tl_id"
                      [(ngModel)]="newDocente.tl_id">
                      <option value="1">Docencia</option>
                      <option value="2">Trabajos Docencia</option>
                      <option value="3">Proyectos Investigación</option>
                      <option value="5">Administración</option>
                      <option value="6">Trabajo</option>
                      <option value="7">Servicios</option>
                      <option value="8">Extensión</option>
                      <option value="9">Capacitación</option>
                      <option value="10">Otros Servcicios</option>
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <h6>Horas</h6>
                  <input
                    type="number"
                    class="form-control"
                    name="horas"
                    arial-describedby="Horas"
                    [(ngModel)]="newDocente.lab_horas"
                  />
                </div>
                
                <!-- <div class="col-md-4">
                  <h6>tl_id</h6>
                  <input
                    type="number"
                    class="form-control"
                    name="horas"
                    arial-describedby="Horas"
                    [(ngModel)]="newDocente.tl_id"
                  />
                </div> -->
                

              
              </div>
              <button
                mat-raised-button
                type="submit"
                class="btn btn-danger pull-right"
                (click)="newLdocente()">
                Crear Labor Docente
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
