<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Crear Perfil Docente</h4>
            <p class="card-category">Complete su perfil</p>
          </div>
          <div class="card-body">
            <form [formGroup]="createDocenteForm" (ngSubmit)="createDocente(createDocenteForm.value)">
              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input 
                    matInput
                    type="number"                     
                    placeholder="Identificacion"
                    formControlName="usu_num_doc"
                    id="identificacion_usu"/>
                  </mat-form-field>
                    
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Tipo Docente</mat-label>
                    <select matNativeControl type="string" formControlName="rol_descripcion">
                      <option value="" selected></option>
                      <option *ngFor="let rols of tipoDocentes" [value]="rols"> {{rols}}</option>                      
                    </select>
                  </mat-form-field>
                </div>
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <mat-label>Genero</mat-label>
                    <select matNativeControl type="string" formControlName="usu_genero" name="gen">
                      <option value="" selected></option>
                      <option *ngFor="let gens of generos" [value]="gens"> {{gens}}</option>                      
                    </select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput type="string" placeholder="Contraseña" formControlName="usu_password">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="string"  placeholder="Nombres" formControlName="usu_nombre">
                  </mat-form-field>                
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="string" placeholder="Apellidos" formControlName="usu_apellido">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput type="string" placeholder="Ultimo titulo academico" formControlName="usu_estudio">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput type="string"  placeholder="Email" formControlName="usu_email">
                  </mat-form-field>                  
                </div>

              </div>
              <button type="submit" class="btn btn-danger pull-right">Crear Perfil</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>