<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          
          <div class="card-header card-header-danger" style="display: flex; justify-content: space-between; align-items: center;">
            <div>
              <h4 class="card-title ">Lista Periodos</h4>
              <p class="card-category"> Informacion</p>
            </div> 
            <button type="submit" class="btn btn-custom" routerLink="/crear-periodo" title="Crear periodo"><mat-icon>add_circle</mat-icon></button>
          </div>
          
          <div class="card-body">
            <div class="table-responsive">
              <table class="table ">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Fecha Inicio</th>
                    <th>Fecha Fin</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let periodo of periodos">
                    <td>{{ periodo.nombre }}</td>
                    <td>{{ periodo.fechaInicio}}</td>
                    <td>{{ periodo.fechaFin }}</td>
                    <td>
                      <button class="btn btn-warning btn-sm" (click)="updatePeriodo(periodo.nombre)" title="Editar"><mat-icon>edit</mat-icon></button>
                      <button class="btn btn-danger btn-sm" (click)="deletePeriodo(periodo.nombre)" title="Eliminar"><mat-icon>delete</mat-icon></button>
                    </td>
                  </tr>
  
                </tbody>
              </table>
  
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>