<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="card card-header bg-danger">
                <h4 class="card-title " style="text-align: center;">GESTIÓN ACADÉMICA - DEPARTAMENTO DE SISTEMAS</h4>
                <p class="card-text" style="text-align: center;"> Facultad de Ingeniería Electronica y
                    Telecomunicaciones</p>
                <p class="card-text" style="text-align: center;">Universidad del Cauca</p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">settings</i>
                        </div>
                        <p class="card-category">Configuración</p>
                        <h3 class="card-title">Gestión Periodo
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>
                            <a routerLink="/listar-periodo">Periodo</a>
                        </div>
                    </div>
                    <!--<div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)">Get More Space...</a>
                      </div>
                  </div>-->
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">group</i>
                        </div>
                        <p class="card-category">Docentes</p>
                        <h3 class="card-title">Gestión Docente</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">person_add</i>
                            <a routerLink="/list-docentes">Gestionar Docentes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">list_alt</i>
                        </div>
                        <p class="card-category">Labor</p>
                        <h3 class="card-title">Gestión Labor Docente</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle</i>
                            <a routerLink="/listar-labor">Gestionar labor docente</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">quiz</i>
                        </div>
                        <p class="card-category">Evaluación</p>

                        <h3 class="card-title">Gestión Evaluación</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">add_circle</i>
                            <a routerLink="/table-list">Gestionar Evaluación</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BOTON INFORMES-->
        <div class="card text-white bg-danger">
            <div class="card-header">
                <h4 class="card-title" style="text-align: center;">REPORTE</h4>
                <p class="card-text" style="text-align: center;">Aquí puedes generar un reporte para ver las autoevaluaciones asignadas, realizadas y terminadas</p>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center">
                    <button class="btn btn-secondary" type="submit" (click)="createReport()">Crear Reporte</button>
            </div>
        </div>
        <!--END BOTON INFORMES-->
    </div>
</div>