<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title " style="text-align: center;">INFORME Y EVALUACIÓN DE ACTIVIDADES DE LABOR
                            DOCENTE - DEPARTAMENTO DE SISTEMAS</h4>
                        <p class="card-category" style="text-align: center;"> Facultad de Ingeniería Electronica y
                            Telecomunicaciones - Universidad del Cauca</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="">
                                    <tr>
                                        <th>
                                            Periodo
                                        </th>
                                        <td *ngIf="getUserRolDocente()">
                                            <div>
                                                <form [formGroup]="buscarPorNomPerNumDocForm" (ngSubmit) = "getEvaluationPorNomPerNumDoc(buscarPorNomPerNumDocForm.value)">
                                                    <div class="input-group no-border example-full-width">
                                                        <input type="string" formControlName="per_nombre_doc" value="" class="form-control" matInput placeholder="Ej: 2021-1">
                                                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                          <i class="material-icons">search</i>
                                                          <div class="ripple-container"></div>
                                                        </button>
                                                      </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td *ngIf="getUserRol()">
                                            <div>
                                                <form [formGroup]="buscarPorPeriodoForm" (ngSubmit) = "getEvaluacionPorPeriodo(buscarPorPeriodoForm.value)">
                                                    <div class="input-group no-border example-full-width">
                                                        <input type="string" formControlName="per_nombre" value="" class="form-control" matInput placeholder="Ej: 2021-1">
                                                        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                                                          <i class="material-icons">search</i>
                                                          <div class="ripple-container"></div>
                                                        </button>
                                                      </div>
                                                </form>
                                            </div>
                                        </td>
                                        <td rowspan="3" style="text-align: center;">
                                            Para cada uno de los ítems presentados a continuación<br>
                                            En la columna"estado" debe ir Terminado o en Ejecución, según
                                            corresponda.<br>
                                            Especifique los restultados en las celdas de la columna <br>
                                            La evaluación de la misma en una es 1 - 100, en las celdas de la columna L
                                            <br>
                                            Si lo desea también hay una sección de Sugerencias y recomendaciones al fina
                                            de esta tabla
                                            
                                            <div *ngIf="getUserRol()">
                                                <td class="pull-right">
                                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" routerLink="/autoevaluacion">Crear Autoevaluación</button>
                                                </td>
                                                <td class="pull-right">
                                                    <button *ngIf="this.rol === 'Coordinador'" type="submit" (click)="listCoordEvaluations()" class="btn btn-info pull-right" >Ver mis Autoevaluaciones</button>
                                                </td>
                                            </div>
                                            
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>
                                            Nombre
                                        </th>
                                        <td>
                                            {{name}}
                                        </td>

                                    </tr>
                                    <tr *ngIf="getUserRol()">
                                        <th>
                                            Nombre docente
                                        </th>
                                        <td>
                                            <div>
                                                <form [formGroup]="buscarPorIdentificacionForm" (ngSubmit) = "searchByIdentification(buscarPorIdentificacionForm.value)">
                                                    <div class="input-group no-border example-full-width">
                                                        <input type="string" formControlName="usu_num_doc" value="" class="form-control" matInput placeholder="Ej: Nombre Apellido">
                                                        <button  mat-raised-button title="Buscar docente por numero documento"  class="btn btn-white btn-round btn-just-icon" type="submit">
                                                            <i class="material-icons">search</i>
                                                            <div class="ripple-container"></div>
                                                        </button>
                                                    </div>
                                                </form>
                                                
                                            </div>
                                        </td>
                                    </tr>

                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-body">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table ">
                                <thead class="">
                                    <th>
                                        N°
                                    </th>
                                    <th>
                                        Periodo
                                    </th>
                                    <th *ngIf="getUserRol()">
                                        Nombre docente
                                    </th>
                                    <th>
                                        Nombre de Labor
                                    </th>
                                    <th>
                                        Tipo Labor
                                    </th>
                                    <th>
                                        Horas
                                    </th>
                                    <th>
                                        Descripción
                                    </th>
                                    <th>
                                        ACTO <br> (Si aplica)
                                    </th>
                                    <th>
                                        Fecha Inicio
                                    </th>
                                    <th>
                                        Fecha Fin
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Acciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let evaluacion of evaluaciones; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{evaluacion.per_nombre}}</td>
                                        <td *ngIf="getUserRol()">{{ evaluacion.usu_nombre }}<br>{{evaluacion.usu_apellido}}</td>
                                        <td>{{ evaluacion.lab_nombre }}</td>
                                        <td>{{ evaluacion.tl_descripcion }}</td>
                                        <td>{{ evaluacion.lab_horas }}</td>
                                        <td>Ingeniería de sistemas<br>Obligatoria 2023 </td>
                                        <center>
                                            <td>X</td>
                                        </center>
                                        <td>{{ evaluacion.per_fecha_inicio | date:'yyyy-MM-dd'}}</td>
                                        <td>{{ evaluacion.per_fecha_fin | date:'yyyy-MM-dd' }}</td>
                                        <td>{{ evaluacion.eva_estado }}</td>
                                        <td>
                                            <button *ngIf="getUserRol()==0 && evaluacion.eva_estado!='Terminado'" class="btn btn-success btn-sm" 
                                            (click)="openDialogSolved(evaluacion.eva_id,rol,evaluacion.lab_nombre,evaluacion.tl_descripcion)" title="Realizar">
                                                Realizar
                                            </button>
                                            <button *ngIf="getUserRol()==0 && evaluacion.eva_estado==='Terminado'" class="btn btn-secondary btn-sm" 
                                            (click)="openAdv('Usted ya realizó la evaluación, no se puede modificar')" title="Realizar">
                                                Realizar
                                            </button>

                                            <button *ngIf="getUserRol() && evaluacion.eva_estado === 'En ejecución'" class="btn btn-secondary btn-sm" 
                                            (click)="openAdv('El docente aún no ha hecho su autoevaluación')" title="Ver">
                                                <mat-icon>visibility</mat-icon>
                                            </button>

                                            <button *ngIf="getUserRol() && evaluacion.eva_estado === 'Terminado'" class="btn btn-info btn-sm" 
                                            (click)="openDialogReview(evaluacion.eva_id,evaluacion.lab_nombre)" title="Ver">
                                                <mat-icon>visibility</mat-icon>
                                            </button>

                                            <button *ngIf="getUserRol() && evaluacion.eva_estado === 'Suspendido'" class="btn btn-danger btn-sm" 
                                            (click)="openDialogReview(evaluacion.eva_id,evaluacion.lab_nombre)" title="Ver">
                                                <mat-icon>visibility</mat-icon>
                                            </button>

                                            <label *ngIf="getUserRol() && evaluacion.eva_estado === 'Revisado'" class="btn btn-success btn-sm" title="Revisado">
                                                <mat-icon>done</mat-icon>
                                            </label>
                                        </td>
                                    </tr>
                                    
                                    <tr *ngIf="getUserRol()==0">
                                        <td  colspan="4" style="text-align: right;"> TOTAL</td>
                                        <td> {{ totalHoras }}</td>
                                    </tr>

                                    <tr *ngIf="getUserRol()" >
                                        <td colspan="5" style="text-align: right;"> TOTAL</td>
                                        <td> {{ totalHoras }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>