<!-- NAVBAR  -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-absolute fixed-top">

    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarS"
            aria-controls="navbarS" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarS">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a href="#" class="nav-link text-white">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#nosotros" class="nav-link text-white">Nosotros</a>
                </li>
            </ul>
        </div>

        <div class=" pull-right">
            <a class="nav-link text-white nav-item" aria-current="page" [routerLink]="[ '/login']">Inicar sesion</a>
        </div>
    </div>
</nav>
<!-- END NAVBAR  -->

<!-- IMAGEN  -->
<div class="carousel-inner table-responsive">
    <img id="card_doc" src="../../../../assets/img/fondoInicio.jpg" class="d-block w-100" alt="">
    <div class="carousel-caption">
        <h5 style="color: #932513; -webkit-text-stroke: 0.5px white;">Gestión académica</h5>
        <p style="color: white; -webkit-text-stroke: 0.5px #00324d;">Facultad de Ingeniería Electrónica y Telecomunicaciones</p>
    </div>
</div>

<!-- END IMAGEN  -->

<!-- SECCION INFO  -->
<section id="nosotros" class="portfolio section-padding table-responsive">

    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header text-center pb-5">
                    <h2>¿Qué es la autoevaluación docente?</h2>
                    <p>Es muy importante para la facultad atutomatizar ciertos procesos para mejorar la calidad
                        educativa<br> dandole la oportunidad
                        a los docentes que evaluen su propio desempeño academico durante el semestre.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12 col-lg-4 floating-square">
                <div id="card_doc" class="card text-ligth text-center  pb-2">
                    <div class="card-body text-white">
                        <p class="lead">Un sistema diseñado para la autoevaluación docente.
                            Coordinador y decano pueden crear autoevaluaciones y los docentes podrán completar estas.</p>        
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4 floating-square">
                <div id="card_doc" class="card text-ligth text-center  pb-2">
                    <div class="card-body text-white">
                        <p class="lead">Recuerda que la autoevaluación es importante para tener un mayor 
                            crecimiento como docente y como profesional.</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-4 floating-square">
                <div id="card_doc" class="card text-ligth text-center  pb-2">
                    <div class="card-body text-white">
                        <p class="lead">Este sitio te permite subir archivos dependiendo del rol que desempeñes dentro de la facultad, ¡No olvides subirlos!</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SECCION INFO  -->

<!-- FOOTER  -->
<footer class="bg-ligth text-dark pt-5 pb-4 table-responsive">
    <!-- contacto nuevo -->
    <div id="contacto" class="container contacto">
        <div class="content">
            
                <div class="address details">
                    <mat-icon>home_pin</mat-icon>
                    <div class="topic">Dirección</div>
                    <div class="text-one">Calle 5 Nº 4-70 Popayán</div>
                </div>

                <div class="phone details">
                    <mat-icon>date_range</mat-icon>
                    <div class="topic">Horario de Atención</div>
                    <div class="text-one">Lunes a Jueves 8:00am a 5:00 pm - Viernes 8:00 am a 4:00 pm</div>
                </div>

                <div class="phone details">
                    <mat-icon>smartphone</mat-icon>
                    <div class="topic">Teléfono</div>
                    <div class="text-one">+57 (602) 8209900</div>
                </div>

                <div class="phone details">
                    <mat-icon>call</mat-icon>
                    <div class="topic">Líneas gratuitas de atención</div>
                    <div class="text-one">018000 949020</div>
                </div>

                <div class="email details">
                    <mat-icon>mail</mat-icon>
                    <div class="topic">Correo denuncias</div>
                    <div class="text-one">quejasreclamos@unicauca.edu.co</div>
                </div>

        </div>
    </div>

</footer>

<!-- END FOOTER  -->